---
import BaseLayout from "@/layouts/BaseLayout.astro";
import PageHeader from "@/components/common/PageHeader.astro";
import TopBtn from "@/components/common/TopBtn.astro";
import CaseStudyFooter from '@/components/CaseStudyFooter.astro';
import { Image } from 'astro:assets';
import img01 from '@/assets/images/projects/pro_07_01.jpg';
import img02 from '@/assets/images/projects/pro_07_02.jpg';
---

<BaseLayout title="IAT1100横バンドソー（石田エンジニアリング） | 導入実績 | 株式会社ミエフソー">
  <PageHeader
    title="製造実績"
    subtitle="Manufacturing Track Record"
    bgImage={img01}
  />

  <section class="p-case-study container">

    <div class="p-case-study__overview">
      <h2>IAT1100横バンドソー（石田エンジニアリング）</h2>
      <p class="text-center-self">
        再生整備を施したIAT1100横バンドソー（石田エンジニアリング）です。完全オーバーホールを実施し、各部品の状態を確認・修復することで新製品と同様の品質での納品を実現しました。現場条件に合わせた調整を行い、安定した稼働をご提供しております。
      </p>
    </div>

    <ul class="p-case-study__gallery-list">
      <li><Image src={img01} alt="IAT1100横バンドソー（石田エンジニアリング） 1" /></li>
      <li><Image src={img02} alt="IAT1100横バンドソー（石田エンジニアリング） 2" /></li>
    </ul>

    <CaseStudyFooter />

  </section>

  <TopBtn href="#" />

</BaseLayout>
