---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="top-btn" href={href} data-target={href}></a>

<script>
  import '@/assets/scripts/smoothScroll';

  const topBtn = document.querySelector<HTMLElement>('.top-btn');

  if (topBtn) {
    // 300px スクロールしたら表示
    window.addEventListener('scroll', () => {
      if (window.scrollY > 300) {
        topBtn.classList.add('is-visible');
      } else {
        topBtn.classList.remove('is-visible');
      }
    });
  }
</script>
