@use "../foundation/variables" as *;
@use "../foundation/mixin" as *;

.p-faq {
  &-list {
    margin-top: 48px;

    @include mq-down-md {
      margin-top: 80px;
    }

    + .c-subtitle {
      margin-top: 128px;
    }
  }
}

.p-faq-top {
  margin-top: 96px;
}

.p-subtitle-faq {
  @include mq-down-md {
    margin-top: 80px;

    h2 {
      padding-right: 8px;
      padding-left: 8px;
      font-size: 2rem;
    }
  }
}
